@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1.ce-header {
  @apply text-3xl font-bold;
}
h2.ce-header {
  @apply text-2xl font-semibold;
}
h3.ce-header {
  @apply text-xl font-semibold;
}
h4.ce-header {
  @apply text-lg font-semibold;
}
h5.ce-header {
  @apply text-base font-semibold;
}
h6.ce-header {
  @apply text-base font-semibold;
}
